<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Socket</title>
    <style>
        p{
            font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
        }
        .container{
            width: 60%;
            margin: 20px auto;
            border: 1px solid #ccc;
            background: #f2f2f2;
            box-sizing: border-box;
            overflow: hidden;
            border-radius: 0 0 12px 12px;
            box-shadow: 1px 3px 5px #030303;
        }
        .container .options{
            display: flex;
            justify-content: center;
            font-size: 1em;
        }


        .container .chat{
            min-height: 100px;
            padding: 10px 50px;
        }
        .container .chat div.widget{
            display: block;
            color: gray;
            background: #cccccc;
            margin-bottom: 10px;
            overflow: hidden;
        }
        div.widget p{
            margin: 0;
            padding: 0;
        }
        img{
            border-radius: 50%;
        }
        .center{
            text-align: center;
        }
        .tu{
            text-align: right;
        }
        .other{
            justify-content: start;
        }
        .tu img{
            float: right;
            margin-left: 5px;
        }
        .other img{
            float: left;
            margin-right: 5px;
        }

        .actions{
            display: grid;
            grid-template-columns: 1fr 2fr;
            grid-template-rows: 1fr 1fr;
            gap: 10px;
        }

        input#photo{
            margin-right: 20px;
        }
        input#username{
            margin-left: 20px;
        }

        input#message{
            margin: auto 20px;
            grid-column: 1 / -1;
        }

        input{
            border: 0;
            border-bottom: 1px solid blue;
            box-sizing: border-box;
            padding: 5px 20px;
            transition: 0.3s all ease-in-out;

        }

        input:focus{
            background: #E6E19D;
            box-shadow: 0 3px 1px blue;
        }


        button:active{
            background: darkblue;
            color: white;
        }
        button{
            grid-column: span 2;
            padding: 5px;
            border: 0;
            font-size: 0.8em;
            border-radius: 0 0 12px 12px;
            background: blue;
        }
        .block{

        }
    </style>
</head>
<body>
    <h1 class="center">Bienvenido al index {{ title }}</h1>

    <div class="container">
        <div class="options"></div>
        <div class="chat">

        </div>

        <div class="actions">
            <input type="text" name="username" id="username" placeholder="Usuario...">
            <input type="text" id="photo" placeholder="Url de la fotografia...">
            <input type="text" id="message" placeholder="Mensaje...">
            <button id="send">Enviar</button>
        </div>
    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script>
    let socketio = io();
    let username = document.querySelector("#username");
    let photo = document.querySelector("#photo");
    let message = document.querySelector("#message");
    let btn = document.querySelector("#send");
    let chat = document.querySelectorAll(".chat")[0];
    let options = document.querySelectorAll(".options")[0];
    btn.addEventListener("click", (event)=>{

        if(username.value != "" && message.value != ""){
            username.setAttribute("disabled","");
            photo.setAttribute("disabled","");

            if(photo.value == ""){
                photo.value = "https://meetanentrepreneur.lu/wp-content/uploads/2019/08/profil-linkedin.jpg";
            }

            socketio.emit("chat:message",{
                username: username.value,
                photo: photo.value,
                message: message.value
            });

            message.value = "";

        }else{
            if(username.value == "") alert("Debes indicar tu nombre para participar en el chat")
            else if(message.value == "") alert("Debes escribir algo para el mensaje")

        }
    })

    message.addEventListener("keypress", (event)=>{
        if(message.value == ""){
            socketio.emit("chat:typing", "");
        }else {
            socketio.emit("chat:typing", username.value);
        }


    })

    socketio.on("chat:message", (data)=>{

        options.innerHTML = "";
        let clase = "other";
        let user = data.username;

        if(username.value == data.username){
            user = "Tu";
            clase = "tu";
        }

        chat.innerHTML += `
            <div class="widget ${clase}">
                <img src="${data.photo}" width="50px">
                <span class="block">
                    <p><strong>${user}</strong></p>
                    <p>${data.message}</p>
                </span>
            </div>
        `;
    });

    socketio.on("chat:typing", (data)=>{
        if(data != ""){
            options.innerHTML = `<em>${data} is typing ...</em>`;
        }else{
            options.innerHTML = "";
        }
    })




</script>
</body>
</html>