body
    font-family: 'Nunito', sans-serif

#chat-container
    max-width: 600px
    margin: 30px auto
    border: 1px solid #ddd
    box-shadow: 1px 3px 5px rgb(0, 0, 0, .5)
    h1 
        text-align: center
        color:#555 
    #chat-window
        padding: 14px 0
        margin: 0 20px
        border-bottom: 1px solid #e9e9e9
        color: #555

        #output
            color: #aaa
            padding: 14xp 0
            margin: 0 20px

        #actions
            padding: 14px 0
            margin: 0 20px
            border-bottom: 1px solid #e9e9e9
            color: #555

        input
            padding: 10px 20px
            box-sizing: border-box
            border: 0
            background: #eeeeee
            display: block
            width: 100%
        
        button
            background: #575ed8
            color: #ffffff
            font-size: 18px
            border: 0
            padding: 12px 0
            width: 100%
            border-radius: 0px 0px 2px 2px
.left
    text-align: left
.right
    text-align: right
.center
    text-align: center